
  </body>
  <script src="/ejs.min.js"></script>
  <script src="/template.js"></script>
  <script src="/dialog.js"></script>
  <script src="/dialogManager.js"></script>
  <script src="/EmployeeCard.js"></script>
  <script src="/scheduler.js"></script>
  <script src="/app.js"></script>
</html>