<%- include ("../partials/header") %>

<div id="test"></div>

<button id="scheduler">Schedule</button>

<section id="employee">
    <div id="employee-header" class="px-3">
        <div style="visibility: hidden;">.</div>
        <h1 class="text-center">Employees</h1>
        <button id="new-employee" class="text-right btn btn-secondary">+</button>
    </div>

    <hr>

    <div class="container">
        <div id="time-card-container" class="row">
            
            
        </div>
    </div>
    

</section>



<%- include ("../partials/footer") %>



